* {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}


/* =========================== */
/* DEFAULTS */
/* =========================== */


 a,a:visited, button{
  text-decoration: none;
  color: #ffffff;
  display: inline-block;
  border: none;
  border-radius: 4px;
}

/* add to anchor tag */
.style-red-a{
  font-weight: 500;
  font-size: 14px;
  padding: 10px 20px;
  background-color: #e70000;
}
/* add to button */
.give-hover-red a:hover{
  background-color: #ff0000;
}
/* for flex */
.flex{
  display: flex;
  justify-content: center;
}
.col{
  flex-direction: column;
}

/* for headingg */

.w{
  color: #ffffff;
}
.tcenter{
  text-align: center;
}
.white-head-title{
  width: 650px;
  font-size: 350%;
  font-weight: 700;
}
.white-sub-title{
  font-size: 180%;
  font-weight: 500;
}


/* for big try btn (add to btn)*/
.try-btn-size{
  margin: 20px 0 40px 0;
}
/* add to anchor */
.in-try{
  padding: 15px 35px;
}

/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

.one {
  background-image: url("images/bg.jpg");
  background-size: cover;
}

.givebg {
  background-color: #00000098;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 2%;
}

.nav img {
  width: 150px;
  height: auto;
}

.nav button{
  align-self: center;
}

.one-data {
  position: relative;
  align-items: center;
}

.one-data p:nth-child(1){
  padding: 150px 0 20px 0;
}
.one-data p:nth-child(2){
  padding: 40px 0;
}

.one-trail button{
  margin-bottom: 100px;
}
.arrow{
  position: relative;
}

/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

.threebg {
  background-color: #000000;
  border-top: 8px solid #222;
  border-bottom: 8px solid #222;
}

.tvkiimg {
  position: relative;
  z-index: 1;
}

.threetv video {
  position: relative;
  width: 467px;
  height: 303px;
  margin-left: 84px;
  margin-top: -1000em;
  margin-bottom: 116px;
}

.threetext, .threetv {
  max-width: 50%;
}

.pad60{
  padding: 60px 0;
}


.black {
  font-size: 1.5rem;
  font-weight: 200;
  border-radius: 0;
  background-color: #000000;
  border: 2px solid white;
  color: #ffffff;
  width: 13em;
  height: 2.7em;
}

.black a {
  color: #ffffff;
  text-decoration: none;
}

/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

.p4-10{
  padding: 5px 0px;
}

.fourbg {
  background-color: #000000;
  z-index: -3;
}

.fourimg, .fourtext {
  max-width: 50%;
}

.fourimg img {
  width: 90%;
  height: 90%;
  z-index: -1;
}

.fourdbar {
  border: 2px solid #222;
  position: relative;
  background-color: #000000;
  border-radius: 10px;
  z-index: 3;
  width: 60%;
  top: -25%;
  left: 14%;
  display: flex;
}

.fourdbar img {
  width: 14%;
  padding: 1%;
}

.fourdbar-text {
  margin-left: 8%;
}

.fourdbar-text p {
  color: #ffffff;
  font-size: 90%;
}

.fourdbar-text p:nth-child(1) {
  font-size: 120%;
}

.fourdbar-text p:nth-child(2) {
  color: #2323b8;
  font-weight: 500;
  padding-bottom: 5%;
}
.downgif{
  position: relative;
  left: 20%;
  top: 5px;
}

/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

.mac {
  position: relative;
  z-index: 1;
}

.fiver video {
  position: absolute;
  margin: -462px 0px 480px 120px;
  width: 400px;
  height: auto;
}

/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

.six {
  background-color: #000000;
}

.sixhead p {
  text-align: center;
  padding: 4% 4%;
  color: #ffffff;
  font-size: 50px;
  font-weight: 500;
}

.sixtopbar p {
  background-color: #1d1d1d;
  max-width: 60%;
  padding: 20px;
  margin: 5px auto;
}

.plus{
  width: 20px;
  position: relative;
  align-self: center;
}

.flexplus{
  display: flex;
  justify-content: space-between 
}


/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
.first {
  position: relative;
  cursor: pointer;
}

.second {
  display: none;
}

.first:active .second {
  display: block;
  overflow: hidden;
}
.first:active .plus{
  transform: rotate(-45deg);
  transition: 0.2s;
}
.tree {
  margin-top: 4%;
}

.seven {
  background: #000000;
  border-top: 8px solid #222;
}

/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

li {
  list-style: none;
  color: #757575;
  font-size: 13px;
}

li a {
  color: #757575;
  text-decoration: none;
}

li a:hover {
  text-decoration: underline;
}

.seven {
  padding: 4% 20%;
}

.samosa {
  justify-content: space-between;
  padding: 30px 0;
}

.s1 li,.s2 li,.s3 li,.s4 li{
  padding: 10px 0;
  min-width: max-content;
}
