* {
  font-family: sans-serif;
}

body {
  padding: 0rem;
  margin: 0rem;
}

.one {
  background-image: url("images/bg.jpg");
  background-size: cover;
}

.givebg {
  background-color: #0000004d;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 2%;
}

.nav img {
  width: 10%;
  height: 10%;
}

.nav button {
  max-width: 14rem;
  max-height: 2.2rem;
  margin-top: 2em;
  background-color: #e70000;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  font-weight: 600;
}

.nav button a {
  color: #ffffff;
  text-decoration: none;
}

.one-data {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}

.one-data h1, .one-data h4, .twobg h1 {
  color: #ffffff;
  text-align: center;
  font-weight: bold;
  max-width: 500px;
}

.one-data h1 {
  font-size: 3rem;
  padding-top: 5%;
}

.one-data h4 {
  font-size: 1.7rem;
  margin-top: 0;
}

.one-trail {
  display: flex;
  justify-content: center;
}

.one-trail img, .blackimg {
  width: 1em;
  height: 1em;
}

.one-trail button {
  font-size: 1.5rem;
  font-weight: 200;
  border-radius: 0;
  background-color: #e70000;
  border: none;
  color: #ffffff;
  width: 15em;
  height: 3em;
  margin-bottom: 4%;
}

.one-trail button:hover {
  background-color: #ff0000;
}

.one-trail button a {
  color: #ffffff;
  text-decoration: none;
}

.twobg {
  background-image: url("images/twobg.jpg");
  background-size: cover;
}

.twocon {
  display: flex;
  justify-content: center;
}

.twocon h1 {
  margin: 0;
  margin: 10% 0 2% 0;
  font-size: 3em;
}

.twotimeline li {
  color: #868686;
  list-style-type: none;
  font-weight: bold;
  text-align: center;
  font-size: 1.5em;
  text-shadow: black;
}

.twotb li {
  display: inline-block;
  color: #ffffff;
  font-weight: 300;
  margin: 0 10.5% 0 10.5%;
}

.twotb li:nth-child(1) {
  color: #21f761;
  font-weight: 500;
}

.twotimeline input {
  border-radius: 10px;
  margin: 0 13% 0 13%;
  z-index: -5;
  padding: 0.3%;
}

.twotimelinebtn img {
  width: 2%;
  size: 2%;
  position: relative;
  margin: -90px 100px -13px 670px;
  padding-bottom: 2%;
  z-index: +1;
}

.greenbar {
  position: relative;
  border: 11.5px solid #18e054;
  border-radius: 10px;
  max-width: 490px;
  margin: -42px 0 -10px 177px;
}

.twotimelinebtn img:nth-child(2) {
  margin-left: 17%;
}

.twodown {
  padding-bottom: 4%;
}

.twodown h1 {
  max-width: 700px;
  font-size: 1.6em;
  font-weight: lighter;
  margin: 3% 22% 0 22%
}

.threebg {
  background-color: #000000;
  border-top: 8px solid #808080;
  border-bottom: 8px solid #808080;
}

.threecon {
  display: flex;
}

.tvkiimg {
  position: relative;
  z-index: 1;
}

.threetv video {
  position: relative;
  width: 75.2%;
  height: 60.2%;
  margin-left: 84px;
  margin-top: -1000em;
  margin-bottom: 116px;
}

.threetext, .threetv {
  max-width: 50%;
}

.threetext h1 {
  color: #ffffff;
  padding: 6% 0% 0% 10%;
}

.threetext h1:nth-child(1) {
  font-size: 2.5rem;
}

.threetext h1:nth-child(2) {
  font-size: 1.6rem;
  padding-bottom: 6%;
  font-weight: 500;
}

.black {
  font-size: 1.5rem;
  font-weight: 200;
  border-radius: 0;
  background-color: #000000;
  border: 2px solid white;
  color: #ffffff;
  width: 13em;
  height: 2.7em;
  margin: 0% 0% 8% 8%;
}

.black a {
  color: #ffffff;
  text-decoration: none;
}

.fourbg {
  background-color: #000000;
  z-index: -3;
}

.fourcon {
  display: flex;
}

.fourimg, .fourtext {
  max-width: 50%;
}

.fourimg img {
  width: 90%;
  height: 90%;
  z-index: -1;
}

.fourdbar {
  border: 2px solid #808080;
  position: relative;
  background-color: #000000e5;
  border-radius: 10px;
  z-index: 3;
  margin: -150px 150px 20px 80px;
  display: flex;
}

.fourdbar img {
  width: 14%;
  padding: 1%;
}

.fourdbar-text {
  margin-left: 8%;
}

.fourdbar-text h1 {
  color: #ffffff;
  font-size: 90%;
}

.fourdbar-text h1:nth-child(1) {
  font-size: 120%;
}

.fourdbar-text h1:nth-child(2) {
  color: #2323b8;
  font-weight: 500;
  padding-bottom: 5%;
}

.fourtext {
  padding-top: 10%;
}

.fourtext h1 {
  color: #ffffff;
  margin: 0;
  margin-left: 8%;
}

.fourtext h1:nth-child(1) {
  font-size: 230%;
  padding-bottom: 8%;
}

.fourtext h1:nth-child(2) {
  font-size: 150%;
  font-weight: 500;
}

.fourbtn {
  margin-top: 4%;
}

.mac {
  position: relative;
  z-index: 1;
}

.fiver video {
  position: absolute;
  margin: -462px 0px 480px 120px;
  max-width: 62%;
  max-height: 35%;
}

.six {
  background-color: #000000;
}

.sixhead h1 {
  color: #ffffff;
  margin: 0;
  text-align: center;
  padding: 4% 4%;
  font-size: 300%;
}

.sixtopbar h1 {
  color: #ffffff;
  font-size: 1.7em;
  font-weight: 200;
  background-color: #1d1d1d;
  max-width: 60%;
  margin: 0 0 0.5% 20%;
  padding: 1%;
  line-height: 35px;
}

.first {
  position: relative;
}

.second {
  display: none;
}

.first:active .second {
  display: block;
  overflow: hidden;
}

.tree {
  margin-top: 4%;
}

.seven {
  background: #000000;
  border-top: 8px solid #808080;
}

li {
  list-style: none;
  margin-left: 1%;
  color: #808080;
}

li a {
  color: #808080;
  text-decoration: none;
}

li a:hover {
  text-decoration: underline;
}

.seven {
  padding: 2%;
}

.samosa {
  margin: 2% 0;
}

.s1 li {
  display: inline;
  margin-right: 18%;
}

.s2 li {
  display: inline;
  margin-right: 10.5%;
}

.s2 li:nth-child(2) {
  margin-right: 21.95%;
}

.s2 li:nth-child(3) {
  margin-right: 14.2%;
}

.s3 li {
  display: inline;
  margin-right: 16.2%;
}

.s3 li:nth-child(2) {
  margin-right: 13.85%;
}

.s3 li:nth-child(3) {
  margin-right: 10.52%;
}

.s4 li {
  display: inline;
  margin-right: 14.2%;
}

.s4 li:nth-child(2) {
  margin-right: 17.15%;
}

.s1, .s2, .s3, .s4 {
  padding: 0.7% 0;
}
